# 출처 및 답안
www.paullab.co.kr/codefestival.html

#  chaper1-1

## 리스트의 삭제
- 다음 리스트에서 400, 500를 삭제하는 code를 입력하세요

In [4]:
nums = [100, 200, 300, 400, 500]

In [6]:
del[nums[3:5]]

In [7]:
nums

[100, 200, 300]

## 리스트의 내장함수
```
l = [200, 100, 300]
<pass>
print(l)
<pass> 부분에 리스트 내장함수를 insert를 이용하여 코드를 입력하고 다음과 같이 출력되게하세요

[200, 100, 10000, 300]
```

In [9]:
l = [200, 100, 300]

l.insert(2,10000)

print(l)

[200, 100, 10000, 300]

## 변수의 타입
- 다음 출력 값으로 올바른 것은?

In [10]:
l = [100, 200, 300]
print(type(l))

<class 'list'>

## 변수의 타입 2

In [11]:
a = 'p'
print(type(a))

<class 'str'>

## for 문 계산

In [12]:
a = 10
b = 2
for i in range(1,5,2):
    a += i

print(a+b)

16

## sep과 end를 활용한 출력방법

In [18]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep='/', end="/")
print(hour, minute, second, sep=':')

2019/04/26/11:34:27

## 별찍기

In [27]:
for i in range(5):
    print((" "*(4-i)) + (2*i+1)*'*')

    *
   ***
  *****
 *******
*********

# chapter1-2

## for를 이용한 기본 활용
```
- 1부터 100까지 모두 더하는 code를 <pass> 부분에 완성하세요. for를 사용해야합니다.

s=0
<pass>
print(s)


```

In [29]:
s=0
for i in range(100):
    s+= i+1
print(s)

5050

## 게임 캐릭터 클래스 만들기

다음 소스코드에서 클래스를 작성하여 게임 캐릭터의 능력치와'파이어볼'이 출력되게 만드시오

```
<여기에 class를 작성하세요.>
x= Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()
```

In [ ]:
545 210 10
파이어볼

In [23]:
class Wizard:
    
    def __init__(self, health, mana, armor):
        self.health = health
        self.mana = mana
        self.armor = armor
        
    def attack(self):
        print("파이어볼")

In [24]:
x= Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)

545 210 10

In [25]:
x.attack()

파이어볼

## 몇번째 행성인가요?
```우리 태양계를 이루고 있는 행성은 수성, 금성, 지구 화성 목성 토성 천왕성 해왕성으로 총 8개 입니다. 저희는 우리 태양계의 n번째 행성이 무엇인지 알고 싶습니다.
입력으로 행성의 순서를 나타내는 숫자n이 입력됩니다. 예를 들어 수성은 첫번째 행성입니다
1
수성```

In [26]:
ls = ["수성", "금성", "지구", "화성", "목성", "토성", "천왕성", "해왕성"]

In [29]:
n = 1
ls[n-1]

'수성'

## 3의 배수인가요?
영희는 친구와 게임을 하고있습니다. 서로 돌아가며 랜덤으로 숫자를 하나 말하고 그게 3의 배수이면 박수를 치고 아니면 그 숫자를 그대로 말하는 게임입니다.
입력으로 래덤한 숫자n이 주어집니다.
만약 그 수가 3의 배수라면 '짝'이라는 글자를, 3의 배수가 아니라면 n을 그대로 출력해주세요

In [80]:
import random
a = round(random.random()*10)

if a % 3 == 0:
    print("짝")
else:
    print(a)

짝

## 자기소개
- 신학기가 시작되고, 아이들이 돌아가며 자기소개를 하기로 했습니다. 만약 입력으로 김다정이라는 이름이 주어지면
안녕하세요. 저는 김다정입니다.
라고 출력되게해주세요

In [83]:
a= input()
print("안녕하세요. 저는{}입니다.".format(a))

김다정
안녕하세요. 저는김다정입니다.

## 로꾸거

In [89]:
a = "로꾸거"
a[::-1]

'거꾸로'

## 놀이기구 키 제한
유주는 놀이공원 아르바이트 중입니다. 그런데 놀이기구마다 키 제한이 있습니다.
유주가 담당하는 놀이기구는 키가 150이상만 탈 수 있습니다.
입력으로 키가 주어지면
키가 150이 넘으면 yes 틀리면 no를 출력하는 프로그램을 작성하세요

In [90]:
a = 170

In [92]:
if a >= 150 :
    print("yes")
else:
    print("No")

yes

## 평균점수
영하네 반은 국어, 수학, 영어 시험을 보았습니다. 영하는 친구들의 평균 점수를 구해주시로 했습니다.
공백으로 구분하여 세 과목의 점수가 주어지면
전체평균 점수를 구하는 프로그램을 작성하세요, 단 소숫점 자리는 모두 버립니다.

In [117]:
a = input()
b = list(map(int, a.split(" ")))
sum(b)// len(b)

1 3 4

2

## 제곱을 구하자
- 공백으로 구분하여 두 숫자a와 b가 주어지면, a의 b승을 구하는 프로그램을 작성하시오

In [123]:
a = input()
b = list(map(int, a.split(" ")))
b[0] **b[1]

5 6

15625

In [124]:
5*5*5*5*5*5

15625

## 몫과 나머지
- 공백으로 구분하여 두숫자가 주어집니다.
첫번째 숫자로 두번째 숫자를 나누었을때 그 몫과 나머지를 공백으로 구분하여 출력하세요

In [128]:
a = input()
b = list(map(int, a.split(" ")))
print(b[1] % b[0], b[1] // b[0])

5 6
1 1

# chapter 1-3

## set 은 어떻게 만드나요?

In [131]:
x = {1,2,3,4,4,5}

In [133]:
x= set('python')
x

{'h', 'n', 'o', 'p', 't', 'y'}

In [134]:
x= set()

In [135]:
type(x)

set

In [136]:
x={}
type(x)

dict

## 대문자로 바꿔주세요

In [140]:
a = input()
a.upper()

marry

'MARRY'

## 원의 넓이를 구하세요
- 원의 넓이는 반지름의 길이 x 반지름의 길이 x 3.14 로 구할 수 있습니다.
함수를 사용하여 원의 넓이를 구하는 코드를 작성해봅시다
입력을 반지름의 길이로 정수 n이 주어지면 원의 넓이를 반환하는 함수를 만들어주세요

In [141]:
a = 7

In [142]:
a * a *3.14

153.86

In [143]:
def half(x):
    return x * x * 3.14

In [144]:
half(6)

113.04

## 행성 문제 2
- 우리 태양계를 이루는 행성은 수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성이있습니다 이행성들의 영어 이름은 mercury, venus mars, jupiter, saturn, neptune입니다.
행성의 한글 이름을 입력하면 영어 이름을 반환하는 프로그램을 만들어 주세요

In [147]:
ls = {"수성":"mercury", "금성":"venus", "지구":"earth", "화성":"mars", 
      "목성":"jupiter", "토성":"saturn", "천왕성":"uranus", "해왕성":"neptune"}

In [149]:
def stars(x):
    ls = {"수성":"mercury", "금성":"venus", "지구":"earth", "화성":"mars", 
      "목성":"jupiter", "토성":"saturn", "천왕성":"uranus", "해왕성":"neptune"}
    
    return ls[x]

In [151]:
stars("목성")

'jupiter'

## 딕셔너리 만들기
- 첫줄에는 학생의 이름이 공백으로 구분되어 입력되고, 두번째 줄에는 그 학생의 수학 점수가 공백으로 구분되어 주어집니다.
두개를 합쳐 학생의 이름이 key이고 value가 수학 점수인 딕셔너리를 출력해주세요

In [167]:
a = input()
b = input()

c = a.split(" ")
d = list(map(int, b.split(" ")))
e = {}
for i in range(len(d)):
    e.update(dict({c[i]:d[i]}))
print(e)

안녕 바보
10 23
{'안녕': 10, '바보': 23}

## 2-gram
- 2-gram 이란 문자열에서 2개의 연속된 요소를 출력하는 방법입니다.
예를들어 python을 2-gram으로 반복해 본다면 다음과 같은 결과가 나옵니다.

In [168]:
a = 'python'

In [171]:
for i in range(len(a)):
    b = a[i:i+2]
    if len(b)<2:
        break
    print(b)

py
yt
th
ho
on

## 대문자만 지나가세요
- 친구는 영어학원 아르바이트를 하고있습니다. 반 아이들은 알파벳을 공부하는 학생들은데 오늘은 대문자 쓰기 시험을 봤습니다.
알파벳 하나만을 입력하고 그 알파벳이 대문자이면 yes를 아니면 no를 출력하는 프로그램을 만들어주세요

In [177]:
a= input()
if a ==a.upper():
    print("Yes")
else:
    print("No")

d
No

## 문자열 속 문자 찾기
- 문자 pineapple 에는 apple 이라는 문자가 숨어 있습니다. 원범이는 이렇듯 문자열 속에 숨어있는 문자를 찾아보려고 합니다
입력으로 첫줄에 문자열이 주어지고 둘째 줄에 찾을 문자가 주어지면 그문자가 시작하는 index를 반환하는 프로그램을 만들어주세요

In [183]:
a = input()
b = input()
a.find(b)

pineapple is yummy
apple

4

# chapter 1-4

## 파이썬 자료형의 복잡도
https://wayhome25.github.io/python/2017/06/14/time-complexity/

## 문자열 만들기
- 취업 준비생인 원영이는 자기소개서를 쓰고 있습니다. 열심히 자기소개서를 작성하던 도중 원영이는 자기가 지금까지 단어를 얼마나 적었는지 궁금하게 됩니다.
원영이를 위해 문자열을 입력받으면 단어의 갯수를 출력하는 프로그램을 작성해주세요

In [185]:
a = input()

저 넓은 세상을 네 눈앞에 그려봐 네 진심을 느껴봐

In [187]:
len(a.split(" "))

9

## 거꾸로 출력하기
- 한줄에 여러개의 숫자가 입력되면, 역순으로 그 숫자들을 하나씩 출력하는 프로그램을 작성하시오

In [188]:
a = input()

1 2 3 4 5

In [191]:
a[::-1]

'5 4 3 2 1'

## sort 구현하기
- 민주는 체육부장으로 체육시간이 되면 반 친구들이 제대로 키순서대로 모였는지를 확인해야한다. 그런데 요즘 민주는 그것이 너무 번거롭게 느껴져 한 번에 확인하고 싶어한다
민주를 위해 키가 주어지면 순서대로 제대로 섰는지 확인하는 프로그램을 작성해보자.

In [209]:
a = input()
b = [int(i) for i in a.split(" ")]
if sorted(b) ==b:
    print("Yes")
else:
    print("No")

156 157 158 169 170
Yes

## factory 함수 사용하기
- 2제곱, 3제곱, 4제곱을 할 수 있는 factory 함수를 만들려고 합니다.

In [27]:
def one(n):
    def two(x):
        a = x**n
        return a
    return two

In [28]:
a = one(2)
b = one(3)
c = one(4)

In [29]:
print(a(10))
print(b(10))
print(c(10))

100
1000
10000

## 구구단 출력하기
- 1-9 까지의 숫자 중 하나를 입력하면 그 단의 구구단 결과를 한줄에 출력하는 프로그램을 작성하세요

In [36]:
def nn(x):
    for i in range(9):
        print(x*(i+1), sep=" ", end=" ")

In [38]:
nn(3)

3 6 9 12 15 18 21 24 27

## count 사용하기
- ㅅㅐ학기를 맞아 은비네 반은 반장 선거를 하기로 했습니다. 그런데 표를 하나씩 개표하는 과정이 너무 번거롭게 느껴진 당신은 학생들이 뽑은 후보들을 입력받으면 뽑힌 학생의 이름과 받은 표 수를 출력하는 프로그램을 작성하기로 하였습니다.

In [1]:
a = input()

원영 원영 은비 은비 은비 채연 채연

In [3]:
b = a.split(" ")
b

['원영', '원영', '은비', '은비', '은비', '채연', '채연']

In [15]:
c = pd.Series(np.unique(b, return_counts=True)[0])
c

0    원영
1    은비
2    채연
dtype: object

In [16]:
d = pd.Series(np.unique(b, return_counts=True)[1])
d

0    2
1    3
2    2
dtype: int64

In [28]:
e = pd.concat([c,d], axis=1).sort_values(1, ascending=False).iloc[0,:]
e

0    은비
1     3
Name: 1, dtype: object

In [31]:
print("{}가 총 {}표로 반장이 되었습니다.".format(e[0], e[1]))

은비가 총 3표로 반장이 되었습니다.

## 호준이의 아르바이트
- 호준이는 아르바이트로 영어학원에서 단어 시험지를 채점하는 일을 하고 있다. 호준이가 일하는 학원은 매번 1위부터 3위까지의 학생에게 상으로 사탕을 준다. 그런데 오늘은 마침 사탕이 다 떨어져서 호준이가 채점을 하고 점수를 보내면 당신이 아이들의 숫자만큼 사탕을 사러 가기로 했다.
학생들의 점수를 공백으로 구분하여 입력받는다. 1위 ~ 3위 학생은 여러명일 수 있고 1 ~ 3위 학생 중 중복되는 학생까지 포함하여 사탕을 사기로 한다.

In [19]:
a = input()

97 86 75 66 55 97 85 97 97 95

In [22]:
b=sorted(set([int(i) for i in a.split(" ")]), reverse=True)[2]

In [25]:
a = np.array([int(i) for i in a.split(" ")])

In [28]:
len(a[a>=b])

6

## 오타 수정하기
- 혜원이는 평소 영타가 빠르고 정확한 것을 친구들에게 자랑하고 다녔습니다. 반 친구들이 혜원이의 타자 속도가 빠르다는 것을 모두 알게 되자 혜원이는 모두의 앞에서 타자 실력을 보여주게 됩니다. 
그런데 막상 보여주려니 긴장이 되서 문장의 모든 e를 q로 잘못친 것을 발견했습니다. 혜원이는 프로그램을 돌려 재빠르게 모든 q를 e로 바꾸는 프로그램을 작성하려고 합니다.

In [29]:
a = input()

querty

In [30]:
a

'querty'

In [32]:
a.replace("q", "e")

'euerty'

In [33]:
def q_e(x):
    return x.replace("q", "e")

In [34]:
q_e(a)

'euerty'

In [35]:
b = "La viq qn rosq"

In [36]:
q_e(b)

'La vie en rose'